In [1]:
import pandas as pd
import numpy as np

In [24]:
dataset = pd.read_csv('data_segment.csv')

In [25]:
dataset.head()

,index,full_name,monetary,avgmonetary,frequency,last_order_date,max_order_date,recency,rfm_monetary,rfm_frequency,rfm_recency,rfm_cell,rfm_cell_string,rfm_segment
0,0,Abyasa Ardianto,330273,330273.0,1,2022-03-05 05:36:15.071199+00:00,2022-07-31 23:59:19.821469+00:00,148,1,1,2,4,112,lost_customers
1,1,Abyasa Firgantoro,8115383,477375.0,17,2022-04-19 02:33:50.312201+00:00,2022-07-31 23:59:19.821469+00:00,103,2,2,2,6,222,potential churners
2,2,Abyasa Firmansyah,1229803,307451.0,4,2021-07-09 04:17:01.226573+00:00,2022-07-31 23:59:19.821469+00:00,387,1,1,1,3,111,lost_customers
3,3,Abyasa Hardiansyah,250015,250015.0,1,2019-10-20 15:37:31.141793+00:00,2022-07-31 23:59:19.821469+00:00,1015,1,1,1,3,111,lost_customers
4,4,Abyasa Haryanto,2302516,383753.0,6,2022-07-07 18:58:37.055319+00:00,2022-07-31 23:59:19.821469+00:00,24,2,2,4,8,224,active

In [26]:
df = dataset.copy()

In [27]:
df['rfm_segment'] = df['rfm_segment'].fillna('others')

In [28]:
df.rfm_segment.unique()

array(['lost_customers', 'potential churners', 'active', 'loyal',
       'slipping away, cannot lose', 'new customers'], dtype=object)

# LABELING

In [29]:
def check_segment(column):
    if column == 'lost_customers':
        return 1
    elif column == 'potential churners':
        return 2
    elif column == 'loyal':
        return 6
    elif column == 'new customers':
        return 3
    elif column == 'slipping away, cannot lose':
        return 4
    else :
        return 5

df['rfm_code'] = df['rfm_segment'].apply(check_segment)

In [32]:
df

,index,monetary,avgmonetary,frequency,last_order_date,max_order_date,recency,rfm_monetary,rfm_frequency,rfm_recency,rfm_cell,rfm_cell_string,rfm_code
0,0,330273,330273.0,1,2022-03-05 05:36:15.071199+00:00,2022-07-31 23:59:19.821469+00:00,148,1,1,2,4,112,1
1,1,8115383,477375.0,17,2022-04-19 02:33:50.312201+00:00,2022-07-31 23:59:19.821469+00:00,103,2,2,2,6,222,2
2,2,1229803,307451.0,4,2021-07-09 04:17:01.226573+00:00,2022-07-31 23:59:19.821469+00:00,387,1,1,1,3,111,1
3,3,250015,250015.0,1,2019-10-20 15:37:31.141793+00:00,2022-07-31 23:59:19.821469+00:00,1015,1,1,1,3,111,1
4,4,2302516,383753.0,6,2022-07-07 18:58:37.055319+00:00,2022-07-31 23:59:19.821469+00:00,24,2,2,4,8,224,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28427,28427,55684592,704868.0,79,2022-06-22 18:53:13.674758+00:00,2022-07-31 23:59:19.821469+00:00,39,3,4,3,10,343,4
28428,28428,4731769,430161.0,11,2022-05-06 04:10:21.138926+00:00,2022-07-31 23:59:19.821469+00:00,86,2,2,2,6,222,2
28429,28429,402317,134106.0,3,2022-03-21 16:34:34.842751+00:00,2022-07-31 23:59:19.821469+00:00,132,1,1,2,4,112,1
28430,28430,1871907,374381.0,5,2022-07-09 12:16:36.463466+00:00,2022-07-31 23:59:19.821469+00:00,22,1,1,4,6,114,3
28431,28431,548662,548662.0,1,2018-01-15 11:40:24.517819+00:00,2022-07-31 23:59:19.821469+00:00,1658,1,1,1,3,111,1

In [33]:
df = df[['monetary', 'frequency', 'recency', 'rfm_code']]

In [36]:
from pycaret.classification import *
s = setup(df, target = 'rfm_code', session_id = 123)

In [37]:
best = compare_models()

In [38]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [39]:

predict_model(best)

,monetary,frequency,recency,rfm_code,prediction_label,prediction_score
1239,5107489,15,9,5,5,1.00
12813,290782,1,519,1,1,1.00
24564,622287,1,1001,1,1,1.00
6594,1864264,1,734,1,1,1.00
23899,138192084,96,5,6,6,1.00
...,...,...,...,...,...,...
11179,1308544,4,316,1,1,1.00
5328,455705,2,373,1,1,1.00
27477,1144362,6,185,1,1,0.99
21331,91842040,75,21,6,6,0.99
10937,1282942,4,55,2,2,0.97

In [40]:

predictions = predict_model(best, data=df)
predictions.head()

   monetary  frequency  recency  rfm_code  prediction_label  prediction_score
0    330273          1      148         1                 1              1.00
1   8115383         17      103         2                 2              0.99
2   1229803          4      387         1                 1              1.00
3    250015          1     1015         1                 1              1.00
4   2302516          6       24         5                 5              0.52

# TESTING

In [47]:
data = {
    'monetary': [1506],
    'frequency': [12],
    'recency':[200]
}
data = pd.DataFrame(data)

prediction = predict_model(best, data=data)
prediction

   monetary  frequency  recency  prediction_label  prediction_score
0      1506         12      200                 1              0.94